[Desktop Entry]
Encoding=UTF-8
Name=Ambient noise
Name[it]=Rumore ambientale
Name[sv]=Omgivande ljud
Comment=Plasmoid for ambient noise reproduction
Comment[it]=Plasmoide per la riproduzione di rumore ambientale
Comment[sv]=Plasmoid som spelar omgivande ljud
Icon=ambientnoise
Type=Service

X-KDE-PluginInfo-Author=Martino Pilia
X-KDE-PluginInfo-Email=martino.pilia@gmail.com
X-KDE-PluginInfo-Website=https://github.com/m-pilia/plasma-applet-ambientnoise
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.ambientnoise
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Multimedia
X-Plasma-NotificationArea=true
